* {
    margin: 0px;
    padding: 0px;
}

a {
   
    text-decoration: none;
    
    }
    
    li {
    
    list-style: none;
    
    }
 
 
 .navbar {
 
    display: flex;
    
    align-items: center;
    z-index: 999 !important;
    
    justify-content: space-between;
    padding-right: 25px;
    padding: 5px;
    position: sticky;
    top: 0;
    width: 99%;
    margin: auto;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 
    
    }
 
    
    /* LOGO */
    
    .logo img{
    width: 60px;
    border: 5px solid #b8d8d4;;
    border-radius: 50%;
    margin-left: 20px;
    }
    
    /* NAVBAR MENU */
    
    .menu {
    
    display: flex;
    
    gap: 1em;
    
    font-size: 18px;
    
    }
    
    .menu li:hover {
    
    background-color: #f18080;
    
    border-radius: 5px;
    
    transition: 0.3s ease;
    
    }
    
    .menu li {
    
    padding: 5px 14px;
    
    }

    .menu li a{
        color: black;
    }
    .menu li:hover a{
        color: black;
    }
    
    /* DROPDOWN MENU */
    
    .services {
    
    position: relative; 
    
    }
    
    .dropdown {
    
    background-color: white;
    
    padding: 1em 0;
    
    position: absolute; /*WITH RESPECT TO PARENT*/
    
    display: none;
    
    border-radius: 8px;
    
    top: 35px;
    
    }
    
    .dropdown li + li {
    
    margin-top: 10px;
    
    }
    
    .dropdown li {
    
    padding: 0.5em 1em;
    
    width: 8em;
    
    text-align: center;
    
    }
    
    .dropdown li:hover {
    
    background-color: #4c9e9e;
    
    }
    
    .services:hover .dropdown {
    
    display: block;
    
    }
    input[type=checkbox]{
 
       display: none;
       
       } 
       
       /*HAMBURGER MENU*/
       
       .hamburger {
       
       display: none;
       margin-right: 10px;
       font-size: 24px;
       
       user-select: none;
       
       }
       @media(min-width: 600px) and (max-width: 1200px) {

        .menu { 
     
           display:none;
           
           position: absolute;
           
           background-color:white;
           
           right: 0;
           
           left: 0;
           
           text-align: center;
           
           padding: 16px 0;
           
           }
           
           .menu li:hover {
           
           display: inline-block;
          
           background-color:#4c9e9e;
           
           transition: 0.3s ease;
           
           }
           
           .menu li + li {
           margin-top: 12px;
           
           }
           
           input[type=checkbox]:checked ~ .menu{
           
           display: block;
           
           }
           
           .hamburger {
           
           display: block;
                  
           }
           
           .dropdown {
           
           left: 50%;
           
           top: 30px;
           
           transform: translateX(35%);
           
           }
           
           .dropdown li:hover {
           
           background-color: #4c9e9e;
           
           }
}
@media(min-width: 200px) and (max-width: 599px) {


    .menu { 
  
     display:none;
     
     position: absolute;
     
     background-color:white;
     
     right: 0;
     
     left: 0;
     
     text-align: center;
     
     padding: 16px 0;
     
     }
     
     .menu li:hover {
     
     display: inline-block;
     
     background-color:#4c9e9e;
     
     transition: 0.3s ease;
     
     }
     
     .menu li + li {
     
     margin-top: 12px;
     
     }
     
     input[type=checkbox]:checked ~ .menu{
     
     display: block;
     
     }
     
     .hamburger {
     
     display: block;
     margin-right: 10px;
     }
     
     .dropdown {
     
     left: 50%;
     
     top: 30px;
     
     transform: translateX(35%);
     
     }
     
     .dropdown li:hover {
     
     background-color: #4c9e9e;
     
     }
} 
#name-container {
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(241, 55, 55);
    padding: 10px;
}

#mid-container{
    width: 95%;
    margin: auto;
    margin-top: 20px;
    height: 500px;
    background-color: rgb(244, 201, 201);
    display: flex;
  }
  
  #first-mid-cont{
    width: 65%;
    margin: auto;
    height: 450px;
    background-color: rgb(197, 196, 196);
    padding: 5px;
  }
  
  #seatch-fun input{
    width: 80%;
    height: 30px;
    padding-left: 5px;
    font-size: 18px;
  }
  #seatch-fun button{
    padding: 4px;
    font-size: 18px;
    background-color: white;
    color: black;
  }
  #seatch-fun button:hover{
    color: white;
    background-color: black;
    cursor: pointer;
  }
 

  hr{
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
  }

  #all-doc-head{
    padding: 5px;
  }
  #show-all_docs{
    height: 330px;
    background-color: rgb(146, 146, 148);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
    overflow-y: scroll;
    padding: 15px;
  }

.doctors{
    background-color: white;
    height: 150px;
    max-height: 200px;
    padding: 5px;
}


  #sec-mid-cont{
    width: 30%;
    margin: auto;
    height: 450px;
    background-color: rgb(96, 96, 96);
    padding: 10px;
  }

  #create-head-meet{
    background-color: rgb(152, 152, 152);
    text-align: center;
    padding: 10px;
  }

  form{
    background-color: rgb(154, 154, 154);
    padding: 5px;
    margin-top: 20px;
  }
  form div{
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  form div label{
    font-size: 18px;
  }

  form div input{
    height: 30px;
  }

  #date-time{
    display: flex;
    flex-direction: row;
    margin-top: -10px;
    margin-left: -1px;
  }

  #cr-btn-meet{
    text-align: center;
    padding: 10px 30px;
    margin-left: 30%
  }

  .meetings{
    background-color: white;
    height: 220px;
    max-height: 250px;
    padding: 5px;
  }

  .meetbtns{
    margin-top: 5px;
  }

  .updatebtn,.deletebtn,.joinmeet{
    padding: 5px;
    background-color: white;
    color: black;
  }
  .updatebtn:hover,.deletebtn:hover,.joinmeet:hover{
    cursor: pointer;
    background-color: black;
    color: white;
  }

  #up-btn-meet{
    display: none;
  }
  .appointmentstatus{
    padding: 5px;
    border-radius: 2px;
  }